@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap:100,200,300,400,500,600|,700'| Slabo+27:100,200,300,400,500,600,700);


html, body {
    height:100%;
    width:100%;
    margin:0px;
    padding: 0px;
}
/*--NAVBAR--*/
.navbar {
    background-color: #17a2ba;
    font-family: Oswald, sans-serif;
}
.navbar .navbar-brand {
    color: #FFF;
    font-weight: 600;
}
.navbar .navbar-nav li a {
    color: #FFF;
    font-weight:200;
    font-family: Oswald, sans-serif;
}

/*--JUMBOTRON--*/

.jumbotron {
    background-image:url("../images/mountain.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 80vh;
    margin-top: 50px;
}
.overlay {
    height:80%;
    width:70%;
    background-color: rgb(0,0,0,0.2);
    align-items:center;
    vertical-align: central;
    margin-top: 30px;
}
#shoutout h2 {
    color:#fff;
    font-weight: 500;
    font-family: Oswald, sans-serif;
}
.jumbotron p {
    color:#fff;
    font-weight: 300;
    font-family: Oswald, sans-serif;
}

/*--modal--*/
h4 {
    font-weight:600;
    font-family: Oswald;
    color:#17a2ba;
}
.bg-modal {
    width: 100%;
    height:100%;
    background-color: rgb(0,0,0,0.7);
    position:absolute;
    top:0px;
    justify-content:center;
    align-items: center;
    display:none;
}
.modal-header {
    position: absolute;
    background-color: white;
    display: inline-block;
}
}
.modal-content{
    width:500px;
    height:300px;
    background-color: white;
    position:relative;
}

.modal-content ol {
    width:90%;
    margin:auto;
    padding-left:30px;
    justify-content: center;
    line-height: 30px;

}
.close{
    position:absolute;
    top:0;
    right:14px;
    font-size: 42px;
    transform: rotate(45deg);
    
}

/*--ABOUT--*/

#about {
    padding:20px 10px;

    line-height: normal;
    min-height:500px;
  
}
#chart {
    height:100%;
    width:100%;
}

/*--places to visit--*/
#places_to_visit {
    min-height:1000px;
    background-color:#d2f3f9;
}
h2 {
    padding-top: 20px;
    font-family: Oswald, sans-serif;
    color: #17a2ba;
}
img {
    height:100%;
    width:70%;
}
.card-deck {
    padding-top: 40px;
}
.card {
    background-color: #17a2ba;
    color:#fff;
    position:relative;
}
.img {
    display: block;
    height:auto;
    width:100%;
    object-fit: cover;
}
.card-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height:100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.card:hover .card-body {
  opacity: 0.9;
}
.card-title .card-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*--MAP--*/
#map {
  height: 70%;
  width:100%;
  position:relative;
  margin-left: 40px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 0 !important;
}
table {
  font-size: 12px;
}
.hotel-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: relative;
  top: 0;
  width: 440px;
  z-index: 1;
}
#map {
  margin-top: 40px;
  width: 440px;
}
#listing {
  position: relative;
  width: 200px;
  height: 470px;
  left: 482px;
  top: -480px;
  cursor: pointer;
  overflow-x: hidden;
}
#findhotels {
  font-size: 14px;
}
#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}
#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}
#autocomplete {
  width: 100%;
}
#country {
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.hotelIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}


/*--CONTACT FORM--*/
#contact {
    min-height:700px;
    background-color: #d2f3f9;
    margin-top: 30px;
}

.heading {
    font-family: Oswald;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 20px;
}
.office-info {
    padding-left: 30px;
}